#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    module_gpios {
        compatible = "gpio-leds";
        rec_stim_sw: rec_stim_sw { gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>; };
        pwm_test_pin: pwm_test_pin { gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>; };
    };
};

&gpiote20 {
    status = "okay";
};

&gpiote30 {
    status = "okay";
};


&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&gpio2 {
    status = "okay";
};
